{% extends '@NeustaPimcorePresentation/layoutBase.html.twig' %}

{% block main %}
    {% if editmode %}
        {{ 'slides.start.configuration'|trans|raw }}
        <br>
        <span>Theme:</span> {{ pimcore_select('theme', {
            'store': [
                [revealJsPublicPath ~ '/dist/theme/beige.css','Beige'],
                [revealJsPublicPath ~ '/dist/theme/black.css','Black'],
                [revealJsPublicPath ~ '/dist/theme/blood.css','Blood'],
                [revealJsPublicPath ~ '/dist/theme/league.css','League'],
                [revealJsPublicPath ~ '/dist/theme/moon.css','Moon'],
                [revealJsPublicPath ~ '/dist/theme/night.css','Night'],
                [revealJsPublicPath ~ '/dist/theme/serif.css','Serif'],
                [revealJsPublicPath ~ '/dist/theme/simple.css','Simple'],
                [revealJsPublicPath ~ '/dist/theme/sky.css','Sky'],
                [revealJsPublicPath ~ '/dist/theme/solarized.css','Solarized'],
                [revealJsPublicPath ~ '/dist/theme/white.css','White'],
            ],
            'defaultValue': revealJsPublicPath ~ '/dist/theme/black.css',
            'reload': true
        }) }}
    {% else %}
        <div class="slides">
            {{ slidesMarkup | raw }}
        </div>
    {% endif %}
{% endblock %}

{# Set theme #}
{% block theme %}{{ pimcore_select('theme').getValue() }}{% endblock %}

{% block scripts %}
    <script src="{{ revealJsPublicPath }}/dist/reveal.js"></script>
    <script>
        /* More info https://github.com/hakimel/reveal.js#configuration */
        Reveal.initialize({
            {%- if document.hasProperty('width') %}
            width: {{ document.getProperty('width') }},
            {% endif -%}
            {%- if document.hasProperty('height') %}
            height: {{ document.getProperty('height') }},
            {% endif -%}
            {%- if document.hasProperty('slideNumber') %}
            slideNumber: {{ document.getProperty('slideNumber')==1 ?'true':'false' }},
            {% endif -%}
            {%- if document.hasProperty('controls') %}
            controls: {{ document.getProperty('controls')==1 ?'true':'false' }},
            {% endif -%}
            {%- if document.hasProperty('progress') %}
            progress: {{ document.getProperty('progress')==1 ?'true':'false' }},
            {% endif -%}
            {%- if document.hasProperty('hash') %}
            hash: {{ document.getProperty('hash')==1 ?'true':'false' }},
            {% endif -%}
            {%- if document.hasProperty('transition') %}
            transition: '{{ document.getProperty('transition') }}',
            {% endif -%}
            {%- if document.hasProperty('autoSlide') %}
            autoSlide: {{ document.getProperty('autoSlide') }},
            {% endif -%}
            {%- if document.hasProperty('showNotes') %}
            showNotes: {{ document.getProperty('showNotes')==1 ?'true':'false' }},
            {% endif -%}

            /* More info https://github.com/hakimel/reveal.js#dependencies */
            dependencies: [
                // { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                {src: '{{ revealJsPublicPath }}/plugin/highlight/highlight.js'},
                // { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                // math
                {src: '{{ revealJsPublicPath }}/plugin/notes/notes.js', async: true},
                {src: '{{ revealJsPublicPath }}/plugin/search/search.js', async: true},
                {src: '{{ revealJsPublicPath }}/plugin/zoom/zoom.js', async: true},
            ]
        }).then(() => console.log('reveal.js is ready'));
    </script>
{% endblock %}
